/.env
/.DS_Store
/Thumbs.db

/vendor/
/node_modules/

/storage/exports/*.sql
/storage/exports/*.csv
/storage/exports/*.xlsx
/storage/exports/*.zip
/storage/backups/
/storage/*.log
/storage/logs/
/storage/cache/
/storage/sessions/

/database/backups/
